---
import Layout from '../layouts/Layout.astro';
import RegisterForm from "../components/register/RegisterForm"
---

<Layout>
    <a href="/" class="back-button">&lt;</a>
    <RegisterForm client:load></RegisterForm>
</Layout>

<style>
    .back-button {
        display: inline-block;
        margin: 1rem;
        text-decoration: none;
        color: #333;
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>